{
  "presets": ["babel-preset-gatsby"],
  "plugins": [
    [
      "@babel/plugin-transform-react-jsx",
      {
        "runtime": "automatic"
      }
    ],
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": false
      }
    ],
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-syntax-dynamic-import",
    "babel-plugin-macros",
    [
      "@babel/plugin-transform-runtime",
      {
        "helpers": true,
        "regenerator": true
      }
    ],
    "babel-plugin-classnames"
  ],
  "env": {
    "production": {
      "plugins": [
        "transform-remove-console",
        "transform-remove-debugger",
        "transform-react-remove-prop-types",
        "transform-react-pure-components",
        "babel-plugin-transform-react-class-to-function",
        "transform-imports"
      ]
    }
  }
}